<!DOCTYPE html>
<html>
{{ partial "head" . }}
<body>

  {{ partial "header" . }}

    <div class="card-row">

      {{ range sort .Data.Pages "Title" }}
      <div class="card">
         <h2>{{ .Title }}</h2>
         <!--
           <div class="content">
             {{ printf "%s" .Summary | markdownify }}
           </div>
         -->
          <div class="content">
            {{ .Summary }}
          </div>
          <div class="card-footer">
              <a href="{{ .Permalink }}" class="button">read more</a>
          </div>
      </div>
      {{ end }}

</body>
</html>
