/***************** main ***********************/
body {
  background-color: #f2f3f4;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  display: flex;
  flex-direction: column;
}

a {
  color: #34495e;
}

.button {
  background-color: #a9cce3;
  line-height: 2em;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
}

/***************** cards layout ***********************/
.card-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.card {
  background-color: #f2f3f4;
  color: #333;
  padding: 10px;
  margin-top: 0;
  margin-left: 20px;
  margin-bottom: 5px;
  font-size: 1em;
  border-radius: 10px;
  min-height: 300px;
  width: 300px;
}

.card > h2 {
  background-color: #34495e;
  color: #f2f3f4;
  padding-left: 10px;
  line-height: 2em;
}

.card > .content {
  text-align: justify;
  padding: 10px;
}

.card-footer {
  text-align: right;
  padding-right: 10px;
}
/************** header nav ***************************/
header.top {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #333333;
  color: #f2f3f4;
}

header.top nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header.top nav ul li {
  padding: 10px;
  margin-right: 5px;
}

header.top nav ul li:hover {
  background-color: #34495e;
}

header.top nav ul li a {
  color: #f2f3f4;
}

header.top h1 a {
  color: #f2f3f4;
  text-decoration: none;
}

/************** page ***************************/
article.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

article.page .content {
  padding-top: 60px;
  max-width: 600px;
}

@media all and (max-width: 800px) {
  article.page .content {
    width: 80%;
  }
}
